body{
    text-align:center;
    background-color:black;
    color:white;    
}
hr{
    width:80%;
}
.wrapper{
    width:50%;
}
a{
    display:inline-block;
    width:100%;
}
img{
    object-fit:contain;
    width:60%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
