body{
    text-align:center;
    background-color:black;
    background-image:url("back.png");
    background-repeat: repeat;
    color:white;    
}
hr{
    width:80%;
}

section{
    width:50%;
    
}

a{
     
     margin:0 auto;
    width:40vmin;
    height:40vmin;
    border:1px solid green;
}
img{

width:40vmin;

   

    
    
}
