html{
background-image: linear-gradient(to bottom right, black, #000022, #000055, blue);
}

body{
  background-attachment: fixed;
  color:purple;
  overflow:hidden;
}
/*
section{
width:40%vmin;
  border:1px solid blue;
}

article{
  position: relative;
padding-top:10%;
  display:block;
  border:1px solid green;
  width:10px;
}*/

section{
  border:1px solid yellow;
  width:82vmin;
  position:fixed;
}
section:after {
  content: "";
  display: block;
  padding-top: 84vmin;
}

button{
border-radius:100%;
  border:1px solid white;
  background-color:transparent;
  width:10%vmin;
  position:fixed;
  color:white;
}
button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
