html{
background-image: linear-gradient(to bottom right, black, #000022, #000055, blue);
  background-attachment: fixed;
}

body{
  padding:0;
  color:blue;
}


section{
  width:82vmin;
  height:82vmin;
  margin:calc(50vh - 41vmin) calc(50vw - 41vmin);
border:1px solid blue;
  position: fixed;
  /*
  position:fixed
  margin:4vmin calc(vw-82vmin)*/
}

button{
border-radius:100%;
  border:.8vmin solid white;
  background-color:transparent;
  width:30vmin;
  height:30vmin;
  color:white;
  font-size:6vmin;
}

#aboutButton{
width:10vmin;
  height:10vmin;
  position:fixed;
  top:calc(50vh - 5vmin);
  margin-left:-10vmin;
}

#podButton{
margin-top:7vmin;
  margin-left:7vmin;
}

#loungeButton{
  margin-top:21vmin;
  margin-right:2vmin;
  float:right;
}

#storyButton{
margin-left:15vmin;
  margin-top:11vmin;
}

