body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(45deg, #990099, 65%,#0000cc);
  font-size: 5vmin;
  line-height: 1;
  overflow: hidden;
}
section {
  position: fixed;
  padding: 10px;
}
#words {
  top: 0;
  left: 0;
}
#buttons {
  bottom: 0;
  right: 0;
  position: absolute;
  border: 1px solid purple;
}
article {}
#titleBox {
  text-align: center;
}
#buttonBox {
  text-align: center;
  margin: 0;
  border-bottom: 2px solid black;
  border-radius: 10%;
}
#infoBox {
  padding: 15px 5px 5px;
  overflow: scroll;
  margin-top: 7px;
  border: 1px solid green;
}
div {
  margin: 0;
}
img {
  margin: 0;
  width: 14vmin;
  border-radius: 100%;
  margin: 0 1%;
  background-size: cover;
}
#bodyimg {
  width: inherit;
  height: 100%;
  border-radius: 0;
  position: absolute;
  border: 1px solid black
}

strong {
  color: #FF007F;
}