body{
 margin:2vmin;
background-image: linear-gradient(to bottom right, purple, blue);
background-size:cover;
}
section{
  position:fixed;
}
#words{
  top:0;
  left:0;
}
#buttons{
  bottom:0;
  right:0;
}