body {
	margin: 0;
	text-align: center;
	background-color: #eeeeff;

}

nav {
	z-index: 1;
	height: 400px;
	width: 300px;
	margin: 8px;
	border-radius: 46px;
	border: 5px solid #5050ff;
	background-color: #eeeeff;
	position: fixed;
}

nav div {
	left: 0;
	font-size: 75px;
	text-align: center;
}

nav a {
	font-size: 40px;
	color: black;
}

nav a:hover {
	font-size: 43px;
	color: #777777;
}

header {
	height: 108px;
	width: 100%;
	text-align: center;
	background-color: #5050ff;
	position: absolute;
}



img:hover {
	transform: rotate(-20deg);
}

#menuButton {
	left: 0;
}

section {
	top: 100px;
	width: 100%;
	position: absolute;
}

article {
	overflow: hidden;
	text-align: left;
	position: relative;
}

article div {
	overflow: wrap;
	text-align: center;
	padding-right: 50px;
}

div {
	left: 50px;
	position: relative;
}

h1 {
	top: -57px;
	font-size: 90px;
	color: white;
	position: relative;
}

h2 {
	height: 92px;
	width: 92px;
	font-size: 80px;
	margin: 16px 8px;
	border-radius: 100%;
	background-color: #5050ff;
	color: white;
	text-align: center;
}

h3 {
	top: -22px;
	left: 100px;
	font-size: 60px;
	line-height: 1;
	position: absolute;
}

a {
	font-size: 40px;
}

label {
	font-size: 40px;
}

ul {
	margin-right: 110px;
	left: 34px;
	font-size: 30px;
	position: relative;
}

hr {
	z-index: -1;
	top: -33px;
	left: 50px;
	height: 3px;
	width: 100%;
	background-color: #B4B4B4;
	border: none;
	position: relative;
}


.square1 {
	display: inline-block;
	position: fixed;
	width: 40%;

	background-color: yellow;
	z-index: 1;
	margin: 8px;
	top: 0;
	left: 0;
}

.square2 {
	margin-top: 50%;
	background-color: orange;
}

.square3 {
	background-color: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
img {
	background-size: cover;
	border-radius: 100%;
	border: 20px #eeeeff;
}