/* body */
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #eeeeff;
	text-align: center;
}



/* ------ */
/* header */
/* ------ */

header {
	position: absolute;
	width: 100%;
	height: 86px;
	background-color: #5050ff;
}

/* hole */
#hole {
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-color: #eeeeff;
}

/* name box */
header div {
	position: absolute;
	top: 10px;
	left: 86px;
	right: 86px;
	height: 1px;
	line-height: 0;
}

/* name */
h1 {
	position: relative;
	font-size: 55px;
	color: white;
}

/* useless */
@-moz-document url-prefix() {
	header div {
		top: .2em;
	}
}

/* header buttons */
img {
	position: absolute;
	border-radius: 100%;
	border: 20px #eeeeff;
	width: 70px;
	margin-top: 8px;
	right: 8px;
}

/* header buttons tilt */
img:hover {
	transform: rotate(-20deg);
}



/* ---- */
/* menu */
/* ---- */

nav {
	z-index: 2;
	position: fixed;
	margin: 8px;
	border: 5px solid #5050ff;
	border-radius: 35px;
	width: 300px;
	height: 400px;
	background-color: #eeeeff;
}

/* menu button */
#menuButton {
	z-index: 3;
	left: 8px;
	position: fixed;
}

#menuButton:hover{
	transform:0;
}

/* menu items boxes */
nav div {
	left: 0;
	height: 100px;
	text-align: center;
}

/* menu items */
nav a {
	position: relative;
	top: 20px;
	color: black;
	font-size: 40px;
}

/* menu items hover */
nav a:hover {
	color: #777777;
	font-size: 43px;
}



/* ------- */
/* content */
/* ------- */

section {
	position: absolute;
	top: 70px;
	overflow:hidden;
	width:100%;
}

/* useless */
@-moz-document url-prefix() {
	h3 {

		color: red;
	}
}

/* section boxes */
article {
	position: relative;
	padding:16px;
	width:100%;
	text-align: center;
	overflow: hidden;
  overflow-wrap: anywhere;
}

/* body item boxes */
article div{
	padding-right:64px;
}

/* body item letters */
h2 {
	position: relative;
	border-radius: 100%;
	width: 92px;
	height: 92px;
	background-color: #5050ff;
	line-height:0;
	font-size: 80px;
	color:#303020;
}

/* body item labels */
h3 {
	position: absolute;
	max-width:60%;
	top: 8px;
	left: 125px;
	line-height:1;
	font-size: 60px;
}

/* body item lines */
hr {
	z-index: 1;
	position: relative;
top:-116px;
	border: none;
	width: 100%;
	height: 3px;
	background-color: #B4B4B4;
}

/* body items */
label, a {
	font-size: 40px;
}

/* body item list items */
ul {
	position: relative;
	margin:0, 110px, 0, 34px;
	font-size: 30px;
	text-align: left;
}