body {
  background-color: black;
  color: white;
  text-align: center;
}
.container {
  position: relative;
  margin: auto;
}
.holder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
table {
  height: 100%;
  width: 100%;
}
#grid td {
  width: 10.5%;
  height: 10.5%;
}
#buttons td {
  width: 19%;
  height: 19%;
  margin: 1%;
}
.spacedRow {
  height: 2.5%;
}
.spacedColumn {
  margin-right: 2.5%;
}
td {
  color: black;
  background-color: white;
}