/* Misc */
:root{
  --background:#222222;
  --dark:#3388dd;
  --light:#ccccee;
  --text:black;
}
body {
  margin: 0;
  text-align: center;
  background-color: var(--background);
  color: var(--light);
  user-select: none;
}
#difficultyPromptElement {
  position: fixed;
}
/* Game Board */
#gameElement {
  visibility: hidden;
}
#gridBox, #buttonBox {
  position: fixed;
  border: .2rem solid var(--dark);
  border-radius: 5%;
}
#gridBox {
  top: 0;
  left: 0;
}
#buttonBox {
  right: 0;
  bottom: 0;
}
@media (orientation:landscape) {
  #gridBox {
    top: 0;
    right: 49.75%;
    bottom: 0;
    left: 0;
  }
  #buttonBox {
    top: 0;
    right: 0;
    bottom: 0;
    left: 49.75%;
  }
}
.content {
  position: absolute;
  margin:.6% .25%;
  width: 100%;
  height: 100%;
}
h2 {
  position: relative;
  display: inline-block;
  margin:-.5%;
  border-radius: 20%;
  width: 10.15%;
  height: 10.15%;
  background-color: var(--light);
  top:0;
  left:0;
  left:0;
  color: var(--text);
  font-size: 100%;
  overflow: hidden;
  line-height: 175%;
}
h2:first-child{
  margin-top:1%;
}
h2:nth-of-type(3n) {
  margin-right: .1%;
}
h2:nth-of-type(9n) {
  margin-right: 0;
}
h2:nth-of-type(27n +9) {
  margin-top: .1%;
}
/* Button Board */
h3 {
  position: absolute;
  top: 28%;
  left: 7.15rem;
  border: .2rem solid var(--dark);
  border-bottom: none;
  border-radius: 100%;
  width: 2rem;
  height: 7%;
  font-size: 90%;
  background-color: var(--background);
}
#wrongElement {
  top: -8%;
  color: red;
}
#hintsElement {
  position: relative;
  top: 6%;
  margin: auto;
  height: 20%;
  visibility: hidden;
}
#hintLeft {
  float: left;
  border-width: .2rem 1rem .2rem .2rem;
  border-style: solid;
  border-radius: 100% 0 0 100%;
  border-color: var(--dark);
  width: 5%;
  height: 20%;
}
#hintMiddle {
  display: inline-block;
  margin: auto;
  width: 70%;
  height: 1rem;
}
#hintRight {
  float: right;
  border-width: .2rem .2rem .2rem 1rem;
  border-style: solid;
  border-radius: 0 100% 100% 0;
  border-color: var(--dark);
  width: 5%;
  height: 20%;
}
/* Buttons */
button {
  position: relative;
  border: .2rem solid var(--dark);
  border-radius: 100%;
  width: 18%;
  height: 18%;
  font-size: 200%;
  font-weight: 550;
  background-color: var(--background);
  color: var(--light);
}
button:active, #menu:active, #undo:active, #redo:active, #restart:active, #eraser:active{
  background-color: var(--dark);
}
.metaButton {
  position: relative;
  border: .2rem solid var(--dark);
  border-radius: 100%;
  width: 17%;
  height: 17%;
}
#selectionElement {
  top: -2.5%;
  border: .2rem solid var(--dark);
  border-radius: 20%;
  vertical-align: bottom;
  background-color: var(--light);
  color: var(--text);
}
#restart {
  background: url("restart.png") no-repeat;
  background-size: contain;
  background-color: var(--light);
}
#undo {
  background: url("undo.png") no-repeat;
  background-size: contain;
  background-color: var(--light);
}
#redo {
  background: url("redo.png") no-repeat;
  background-size: contain;
  background-color: var(--light);
}
#menu {
  background: url("menu.png") no-repeat;
  background-size: contain;
  background-color: var(--light);
}
.bottomButton {
  top: 4%;
}
#eraser {
  top: 8%;
  background: url("eraser.png") no-repeat;
  background-size: contain;
  background-color: var(--light);
}
/* Notes */
.notesContainer {
  position: relative;
  margin: 1% 0 0 1%;
  width: 99%;
  height: 99%;
}
p {
  position: absolute;
  border-radius: 100%;
  width: 33%;
  height: 33%;
  line-height: 100%;
  font-weight: 600;
  visibility: hidden;
}
.p1 {
  top: -33%;
}
.p2 {
  top: -33%;
  left: 33%;
}
.p3 {
  top: -33%;
  right: 0;
}
.p4 {
  top: 0;
}
.p5 {
  top: 0;
  left: 33%;
}
.p6 {
  top: 0;
  right: 0;
}
.p7 {
  top: 33%;
}
.p8 {
  top: 33%;
  left: 33%;
}
.p9 {
  top: 33%;
  right: 0;
}
/* Menu */
#menuElement {
  visibility: hidden;
  width:99%;
  background-color: var(--light);
}