body {
  background-color: black;
  color: white;
  text-align: center;
}
@media screen and (orientation: landscape) {
  section {
    visibility: hidden;
  }
}
p {
  top: 10px;
  font-size: 70px;
  position: absolute;
  color: white;
  z-index: -1;
}
#gridcontainer {
  position: relative;
  margin: auto;
  width: 100%;
  padding-top: 100%;
  background-color: #0000bb;
  border-radius: 5px;
}
#gridholder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px;
}
table {
  height: 100%;
  width: 33.33%;
  float: left;
}
td {
  max-height: 10.5%;
  height: 10.5%;
  width: 32%;
  /*just use padding???*/
  color: black;
  background-color: #ddddff;
  font-size: 150%;
  border-radius: 7px;
}
.buttoncontainer {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 14%;
  padding-top: 14%;
}
.buttonholder {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  top: 0;
}

button {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  border: none;
  font-size: 150%;
  font-weight: 750;
  background-color: #aaaaff;
}
button:active {
  background-color: #0000bb;
}
.option {
  width: 60%;
  height: 60%;
  bottom: 0;
  margin-top: 20%;
}
bold {
  font-weight: 1000;
}

numbercontainer {
  background-color: #0000bb;
  border-radius: 5px;
}

numberholder {
  padding: 5px;
}