body{
color:white;
text-align:center;
background-color: black;
font-size:50px;
}

div{
margin:5px 10px 0;
border:5px solid white;
border-radius:50px;
background-image: linear-gradient(to bottom right, purple, blue);
}

button{
font-size:30px;
font-weight:bold;
color: white;
border:5px solid white;
border-radius:50px;
background-color:transparent;
height:70px;
width120px;
margin:5px 10px;
padding:0;
}
