body{
    background-color: #101010;
    color: purple;
}

section{
    margin-top:1%;
    height:700px;
}

header{
    text-align: center;
    width:100%;
}

div{
margin:auto;
font-size: x-large;
width:33%;
}

nav{
    margin: auto;
    padding-bottom: 1%;
    width:90%;
    border-bottom: 1px solid purple;
}

h1{
    font-size: xx-large;
}

h2{
    margin:0 33%;
font-size: x-large;
}

h3{
    font-size: large;
}

hr{
    border-color: purple;
    width:33%;
    float:left;
}