body {
    background-color: #111111;
    color: purple;
    font-size: 25px;
}

section {
    margin-top: 1%;
    height: 700px;
    padding: 10px;
}

header {
    text-align: center;
    width: 100%;
}

div{
    position: absolute;
    width:33%;
    text-align: center;
}

.button {
    border-left: 1px solid purple;
    border-right: 1px solid purple;
    border-radius: 35px;
    margin: auto;
    font-size: 35px;
    width: 95%;
    color: #cccccc;
    height: 60px;
    padding: 0 10%;
}

.inactive{

}

nav {/*
    text-align: center;*/
    margin: auto;
    padding-bottom: 1%;
    width: 90%;
    height: 35px;
    border-bottom: 1px solid purple;
}

h1 {
    font-size: 50px;
    color: 888888;
}

h2 {
    margin: 0 33%;
    color: #888888;
    font-size: 35px;
}

h3 {
    font-size: 27px;
    color: #888888;
    position: relative;
}

hr {
    border-color: purple;
    width: 33%;
    
}

a {
    color: #cccccc;
    text-decoration: solid solid;
}

li {
    color: #888888;
}

label {
    color: #888888;
}

p{
    float: right;
    top:-70px;
    position: relative;
    font-size: 20px;
}