body {
    background-color: #111111;
    color: #8000ff;
    font-size: 25px;
}

section {
    margin-top: 1%;
    height: 700px;
    text-align: center;
}
span{
    text-align: left;
}

article{
    padding: 0 10%;
}

header {
    text-align: center;
    width: 100%;
}

div{
    position: relative;
    text-align: center;
    float:left;
    margin: auto;
}

span div {
margin: 0 2%;
width: 45%;
}

.right{
    float:right;
}

nav div{
    width:33%;
    
}

div a {
    border-left: 1px solid #8000ff;
    border-right: 1px solid #8000ff;
    border-radius: 35px;
    margin: auto;
    font-size: 35px;
    width: 95%;
    color: #cccccc;
    height: 60px;
    padding: 0 10%;
}

nav {/*
    text-align: center;*/
    margin: auto;
    padding-bottom: 1%;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #8000ff;
}

h1 {
    font-size: 50px;
    color: 888888;
}

h2 {
    color: #888888;
    font-size: 35px;
}

h3 {
    font-size: 27px;
    color: #888888;
    position: relative;
}

hr {
    border-color: #8000ff;
    width: 33%;
}

a {
    color: #cccccc;
    text-decoration: solid solid;
}

li {
    color: #888888;
}

h4 {
    color: #888888;
}

p{
    font-size: 20px;
    max-width: 200px;
    text-align: right;
}